:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: #242424;

    --primary: #1aa3ff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    user-select: none;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    width: 100vw;
    height: 100vh;
}

#close {
    display: none;
}

.button {
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    min-width: 9rem;
    transition: all ease-in-out 0.2s;
    margin: 1rem;
}

button:focus {
    outline: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem 0.2rem rgba(255, 255, 255, 0.2);
}

.options {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
    width: 20vw; /* TODO: for mobile*/
    height: 100vh;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.7);
    transition: right ease-in-out 0.5s;
    display: flex;
}

.hidden {
    --size: calc(2rem + 20vw);
    right: calc(-1 * var(--size));
}

@media screen and (max-width: 1100px) {
    .options {
        width: 40vw;
    }

    .hidden {
        --size: calc(2rem + 40vw);
        right: calc(-1 * var(--size));
    }
}

@media screen and (max-width: 640px) {
    .options {
        width: 100vw;
    }

    .hidden {
        --size: calc(2rem + 100vw);
        right: calc(-1 * var(--size));
    }

    #close {
        display: block;
        position: absolute;
        top: 1rem;
        left: -1rem;
        width: 2rem;
        height: 2rem;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        transition: all ease-in-out 0.2s;
    }

    #close::after {
        content: " ";
        width: 2rem;
        background-color: #fff;
        height: 0.2rem;
        position: absolute;
        top: 1rem;
        left: 0rem;
        transform: rotate(45deg);
    }

    #close::before {
        content: " ";
        width: 2rem;
        background-color: #fff;
        height: 0.2rem;
        position: absolute;
        top: 1rem;
        left: 0rem;
        transform: rotate(-45deg);
    }

    #close:hover {
        transform: scale(1.1);
    }
}

.content {
    margin-left: 2rem;
    text-align: center;
    position: relative;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

input[type="range"] {
    display: block;
    position: absolute;
    -webkit-appearance: none;
    padding: 0;
    height: 1rem;
    border-radius: 0;
    width: 90%;
    outline: none;
    left: 1.5rem;
    top: 0.5rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1rem;
    cursor: pointer;
    background: linear-gradient(45deg, #ff5533, #271a6b, #130d38);
    border: 1px #fff solid;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 1px 0 0 0;

    border: 1px #fff solid;
    background-color: transparent;
    transition: border-radius 0.5s, background 0.5s;
}

input[type="range"]:hover::-webkit-slider-thumb {
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.3);
}

input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.5);
}

.animate {
    display: block;
    position: absolute;
    margin: 0;
    border: none;
    background-color: transparent;
    width: 1rem;
    height: 1rem;
    left: 0;
    top: calc(0.5rem + 2px);
    box-shadow: none;
    padding: 0;
}

.icon {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.icon::after {
    transition: all 0.5s;
}

.icon::before {
    transition: all 0.5s;
}

.play .icon::after {
    content: " ";
    width: 1rem;
    background-color: #fff;
    height: 0.1rem;
    position: absolute;
    top: 0.2rem;
    left: 0.1rem;
    transform: rotate(35deg);
}

.play .icon::before {
    content: " ";
    width: 1rem;
    background-color: #fff;
    height: 0.1rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0.1rem;
    transform: rotate(-35deg);
}

.pause .icon::after {
    content: " ";
    width: 1.1rem;
    background-color: #fff;
    height: 0.1rem;
    position: absolute;
    top: 0.45rem;
    left: -0.25rem;
    transform: rotate(90deg);
}

.pause .icon::before {
    content: " ";
    width: 1.1rem;
    background-color: #fff;
    height: 0.1rem;
    position: absolute;
    top: 0.45rem;
    right: -0.25rem;
    transform: rotate(-90deg);
}

.player {
    padding: 0.5rem;
    height: 1rem;
    position: relative;
}
